---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'NZOZ Lek-Medical — Przychodnia Lekarza Rodzinnego w Zemborzycach',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero id="info" actions={[]} image={{ src: '~/assets/images/building.jpeg', alt: 'Lek-Medical Hero Image' }}>
    <Fragment slot="title">Od 21 lat dbamy o Twoje zdrowie</Fragment>
  </Hero>

  <Features3
    id="about"
    tagline="O nas"
    title="Nasza placówka"
    image={{
      src: '~/assets/images/office.png',
      alt: 'Lek-Medical About Image',
    }}
  >
    <Fragment slot="subtitle">
      <span
        >Założony w styczniu 2003 roku, <span class="font-semibold"
          >NZOZ Lek-Medical Błażejczyk i Nowacka "Spóła Partnerska - Lekarze"</span
        > to miejsce, gdzie profesjonalizm spotyka się z ciepłą, przyjazną atmosferą. <br /><br />
        Jesteśmy Przychodnią Lekarza Rodzinnego świadczącą bezpłatne porady dla zadeklarowanych do naszej placówki pacjentów
        w ramach podpisanej umowy z NFZ.<br /><br />
        Stawiamy na empatię i nowoczesność w budowaniu zdrowej przyszłości dla naszych pacjentów.</span
      >
    </Fragment>
  </Features3>

  <Steps
    id="reception-hours"
    title="Godziny przyjęć"
    items={[
      {
        title: 'Pon - Pt',
        description: '8:00 - 18:00',
        icon: 'tabler:clock',
      },
      {
        title: 'Rejestracja wizyt',
        description:
          '<a href="tel:817500990" target="_blank" rel="nofollow">81 750 09 90</a><br />' +
          '<a href="tel:790717735" target="_blank" rel="nofollow">790 717 735</a><br /> ' +
          'lub osobista na miejscu w przychodni',
        icon: 'tabler:phone',
      },
      {
        title: 'Kierownik NZOZ',
        description: 'lek. med. Dorota Nowacka',
        icon: 'tabler:user-check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- People Widget *************** -->

  <Features
    id="team"
    tagline="Nasz zespół"
    title="Poznaj Naszych Specjalistów"
    subtitle="Wybierając NZOZ Lek-Medical Błażejczyk i Nowacka, stawiasz na wysoką jakość usług, dostępność lekarzy specjalistów i przyjazną atmosferę."
    items={[
      {
        title: 'lek. med. Hanna Błażejczyk',
        description: 'Pediatra, Specjalista Medycyny Ogólnej.',
        icon: 'tabler:stethoscope',
      },
      {
        title: 'lek.med. Dorota Nowacka',
        description: 'Specjalista Medycyny Ogólnej.',
        icon: 'tabler:stethoscope',
      },
      {
        title: 'lek. med. Beata Nazar',
        description: 'Specjalista Medycyny Rodzinnej.',
        icon: 'tabler:stethoscope',
      },
      {
        title: 'lek. med. Małgorzata Łakomska - Janowska',
        description: 'Specjalista Medycyny Rodzinnej.',
        icon: 'tabler:stethoscope',
      },
      {
        title: 'lek. med. Agnieszka Ścisłowska',
        description: 'Specjalista Medycyny Rodzinnej.',
        icon: 'tabler:stethoscope',
      },
      {
        title: 'lek. med. Anna Bartnik',
        description: 'Specjalista Medycyny Rodzinnej.',
        icon: 'tabler:stethoscope',
      },
      {
        title: 'lek. med. Beata Krasuska - Grzegorczyk',
        description: 'W trakcie specjalizacji.',
        icon: 'tabler:stethoscope',
      },
      {
        title: 'mgr Marzena Szabała',
        description: 'Położna środowiskowa.',
        icon: 'tabler:ribbon-health',
      },
      {
        title: 'Krystyna Grenda',
        description: 'Pielęgniarka środowiskowa.',
        icon: 'tabler:nurse',
      },
      {
        title: 'Bożena Golec',
        description: 'Pielęgniarka środowiskowa.',
        icon: 'tabler:nurse',
      },
      {
        title: 'Anna Trepiak',
        description: 'Pielęgniarka środowiskowa.',
        icon: 'tabler:nurse',
      },
      {
        title: 'Alina Szewczyk',
        description: 'Pielęgniarka praktyki.',
        icon: 'tabler:medicine-syrup',
      },
    ]}
  />

  <Steps
    id="night-care"
    title="Opieka nocna i świąteczna"
    subtitle="W godzinach nocnych (18.00 - 8.00) oraz w dniach świątecznych nasi pacjenci mogą korzystać z pomocy lekarza rodzinnego w poniższych punktach."
    items={[
      {
        title:
          '<a href="https://maps.app.goo.gl/QW478iD1fEFvcf3c7" target="_blank" rel="nofollow">Szpital WSS SPZOZ Lublin Al. Kraśnicka 100</a>',
        description:
          '<a href="tel:815374025" target="_blank" rel="nofollow">81 537 40 25</a><br /><a href="tel:519058752" target="_blank" rel="nofollow">519 058 752</a><br /><a href="tel:510058953" target="_blank" rel="nofollow">510 058 953</a>',
        icon: 'tabler:phone-plus',
      },
      {
        title:
          '<a href="https://maps.app.goo.gl/ZhLh7KzThmTo2G5T8" target="_blank" rel="nofollow">Szpital Neuropsychiatryczny SPZOZ Lublin ul. Abramowicka 2</a>',
        description: '<a href="tel:817286370" target="_blank" rel="nofollow">81 728 63 70</a>',
        icon: 'tabler:phone-plus',
      },
      {
        title:
          '<a href="https://maps.app.goo.gl/kEfPyJvvq52RvtEm7" target="_blank" rel="nofollow">SPSW IM. Jana Bożego Lublin, ul. Biernackiego 9</a>',
        description:
          '<a href="tel:8176043443" target="_blank" rel="nofollow">81 740 20 39</a><br /><a href="tel:515752750" target="_blank" rel="nofollow">515 752 750</a>',
        icon: 'tabler:phone-plus',
      },
    ]}
    image={{
      src: '~/assets/images/night.jpeg',
      alt: 'Night care image',
    }}
  />

  <CallToAction
    id="location"
    actions={[
      {
        variant: 'primary',
        text: 'Mapa dojazdu',
        href: 'https://maps.app.goo.gl/s3fvvPRnVe7TvTi66',
        target: '_blank',
        icon: 'tabler:map',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Kontakt</span>
    </Fragment>

    <Fragment slot="subtitle">
      <div>tel. <a class="font-bold" href="tel:817500990" target="_blank" rel="nofollow">81 750 09 90</a></div>
      <div>tel komórkowy: <a class="font-bold" href="tel:790717735" target="_blank" rel="nofollow">790 717 735</a></div>
      <div>
        email: <a class="font-bold" href="mailto:lek_medical@op.pl" target="_blank" rel="nofollow">lek_medical@op.pl</a>
      </div>
      <br />
      <div class="font-bold">ul. Krężnicka 125A, 20 - 518 Lublin</div>
    </Fragment>
  </CallToAction>
</Layout>
